.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.col-1 {
  width: 7.05%;
}

.col-2 {
  width: 15.5%;
}

.col-3 {
  width: 23.95%;
}

.col-4 {
  width: 32.4%;
}

.col-5 {
  width: 40.85%;
}

.col-6 {
  width: 49.3%;
}

.col-7 {
  width: 57.75%;
}

.col-8 {
  width: 66.2%;
}

.col-9 {
  width: 74.65%;
}

.col-10 {
  width: 83.1%;
}

.col-11 {
  width: 91.55%;
}

.col-12 {
  width: 100%;
}
