$bg-color-grey: #EEEEEE;
$bg-color-white: white;
$bg-color-yellow: #FFE600;
$bg-color-blue: #3483FA;

$text-color-black: #333333;
$text-color-dark-grey: #666666;
$text-color-light-grey: #999999;

$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-46: 46px;

$line-spacing-small: 16px;
$line-spacing-large: 32px;
