@import "./grid";
@import "./variables";

html,
body {
  background-color: $bg-color-grey;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;

  .navbar {
    align-items: center;
    background-color: $bg-color-yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 5px 0;
  }

  .list-product {
    flex-direction: column !important;
  }

  .product {
    background-color: $bg-color-white;
    margin: $spacing-small auto $spacing-small auto;
    padding: 10px;
    width: 90%;
  }

  .detail-product {
    background-color: $bg-color-white;
    margin: $spacing-small auto $spacing-small auto;
    padding: 10px;
    width: 90%;
  }
}
