@import "./grid";
@import "./variables";

html,
body {
  background-color: $bg-color-grey;
  margin: 0 auto;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;

  .navbar {
    background-color: $bg-color-yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0 5px 0;

    .center-content {
      justify-content: center !important;

      #img-logo-ml {
        height: 40px;
        width: 60px;
      }

      input {
        border-style: none;
        color: $text-color-light-grey;
        font-size: $font-size-18;
        padding: 10px;
        width: 100%;
      }

      button {
        border-style: none;
      }

      #img-search {
        height: 25px;
        padding: 5px 0 0 5px;
        width: 25px;
      }
    }
  }

  .list-product {
    flex-direction: column !important;
  }

  .product {
    background-color: $bg-color-white;
    margin: 0 auto 0 auto;
    padding: 10px;
    width: 90%;
    border-bottom: 2px $bg-color-grey solid;

    #img-product {
      height: 180px;
      width: 180px;
    }
  }

  .detail-product {
    background-color: $bg-color-white;
    margin: $spacing-small auto $spacing-small auto;
    padding: 10px;
    width: 90%;

    button {
      background-color: $bg-color-blue;
      border-style: none;
      color: white;
      height: 35px;
      width: 70%;
    }
  }

  .align-item-center {
    align-items: center;
  }

  .text-align-center {
    text-align: center;
  }
}
